<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/phpunit/bootstrap.php"
         cacheResult="false"
>
  <testsuites>
    <testsuite name="CiviCRM-WordPress Test Suite">
      <directory>./tests/phpunit</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./CiviWP</directory>
    </whitelist>
  </filter>
</phpunit>
